<nav class="navbar navbar-light bg-transparent border-bottom mb-3">
  <a class="navbar-brand" href="/">RESTful Blog App</a>
  <a href="/blogs/new" class="btn btn-outline-info text-info">New post</a>
</nav>